---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const blog_posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
// const comp_posts = (await getCollection("competitions")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const news_posts = (await getCollection("news")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_blog_posts = blog_posts.slice(0, 3);
// const last_comp_posts = comp_posts.slice(0, 3);
const last_news_posts = news_posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there</div>
    <div class="text-5xl font-bold">We are NTHU SCC</div>
    <div class="text-2xl py-3 font-bold">Student Cluster Competition Team of National Tsing Hua University
</div>
    <div class="py-2">
      <text class="text-lg">
      Our goal is to strive for championships in various student cluster competitions and excel in the field of supercomputing and high-performance computing (HPC). The team is a part of the Large-scale System Architecture Lab (LSA Lab) at National Tsing Hua University.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/NTHUSCC" target="_blank"> Let's connect!</a>
      <a href="https://github.com/NTHU-SC/" target="_blank" class="btn btn-outline ml-5">
        GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest News</div>
  </div>

  {
    last_news_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/news/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest competitions {"</>"}</div>
  </div>

  {
    last_comp_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/competitions/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
  -->

  <!-- 
  <HorizontalCard
    title="HPCAI 2023 Achieved First and Third Place in Singapore"
    img="/HPC-AI23-banner.jpg"
    desc="NTHU Team-ZY and Team-SJ secure the champion and third place respectfully at 6th Asia-Pacific HPC-AI Student Competition."
    url="competitions/hpcai23"
    badge="NEW"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="ISC 23 Second Place in Hamburg, Germany"
    img="/ISC23-banner.jpg"
    desc="NTHU students took 2nd place in the ISC23 (International Supercomputing Conference Student Cluster Competition) held in Hamburg, Germany from May 21 to 25."
    url="competitions/isc23"
  />

  <div class="divider my-0"></div>

  <HorizontalCard
    title="SCC 22 Overall Championship in Dallas, USA"
    img="/SCC22-banner.jpg"
    desc="NTHU in Taiwan has recently won the championship at the World Supercomputer Student Cluster Competition (SCC) held in Dallas, USA."
    url="competitions/scc22"
  />
  -->

  <!-- <div class="divider my-0"></div> -->

  <!-- <HorizontalCard
    title="ASC 20-21 Champion (virtual)"
    img="/ASC20-21-banner.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="competitions/asc20-21"
  /> -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_blog_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
